<body>
    <header>
        <link
          href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet"
        />
        <div class="container">
          <div class="logo">
            <a routerLink="/home"><h1>Inkara</h1></a>
          </div>
          <nav>
            <ul class="nav-links">
              <li>
                <a routerLink="/verDisenyos">
                  <mat-icon>style</mat-icon>
                  <span>Diseños</span>
                </a>
              </li>
              <li>
                <a routerLink="/verArtistas">
                  <mat-icon>palette</mat-icon>
                  <span>Artistas</span>
                </a>
              </li>
              <li>
                <a routerLink="#contact">
                  <mat-icon>contact_page</mat-icon>
                  <span>Contacto</span>
                </a>
              </li>
              <li>
                <a routerLink="ola">
                  <mat-icon>book</mat-icon>
                  <span>ola</span>
                </a>
              </li>
              <li class="dropdown">
                <mat-icon class="dropdown-toggle">menu</mat-icon>
                <ul class="dropdown-menu">
                  <li><a href="#">Ajustes</a></li>
                  <li><a href="#">Mis Cosas</a></li>
                  <li><a href="#">Mis Reservas</a></li>
                  @if(!rol){
                  <li><a routerLink="/login">Login</a></li>
                  }@else {
                  <li>
                    <a routerLink="/home" (click)="cerrarSesion()">Cerrar sesion</a>
                  </li>
                  } @if(rol==='2'){
                  <li><a routerLink="/gestionArtista">Gestion</a></li>
                  }
                </ul>
              </li>
            </ul>
          </nav>
        </div>
      </header>

  <div class="proba">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</body>
